.navBar {
	background-color: black;
	/*background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(124, 124, 124, 1) 100%,
		rgba(0, 212, 255, 1) 100%
	);*/
	color: rgb(190, 188, 188);
	min-height: 50px;
}
.logo {
	font-size: 50px;
}

.navbar {
	--bs-navbar-padding-y: -0.5rem;
}

.links {
	margin: 0 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	font-size: medium;
}

.palabras {
	margin: 0 35px;
	font-size: 18px;
	color: #fb3435;
	font-family: "Koulen-Regular", Helvetica;
	line-height: normal;
	text-align: center;
}

.wasapNav {
	color: rgb(158, 158, 158);
}

.wasapNav:hover {
	color: rgb(189, 187, 187);
}
.wasapNav:link {
	text-decoration: none;
}
.wasapNav:visited {
	text-decoration: none;
}
