.contenedor {
	width: 100%;
	height: 100vh;
	background: rgb(0, 0, 0);
	background: radial-gradient(
		circle,
		rgba(0, 0, 0, 1) 0%,
		rgba(115, 129, 131, 0.8435749299719888) 45%,
		rgba(0, 0, 0, 1) 100%
	);
	padding: 5%;
}

.subtituloPrototipos {
	display: flex;
	justify-content: space-evenly;
}
